
.nav.navbar-nav>li:hover>ul.sub-login {
    display: block;
    -webkit-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
}

ul.sub-login {
	 color: #01a660;
    position: absolute;
    top: 30px;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 150px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 999;
}

.dropdown ul.sub-login li .active {
    color: #01a660;
    padding-left: 0;
}

.navbar-nav li ul.sub-login li {
	 color: #01a660;
    padding: 10px 20px 0;
}

.navbar-nav li ul.sub-login li:last-child {
	 color: #01a660;
    padding-bottom: 20px;
}

.navbar-nav li ul.sub-login li a {
    color: #fff;
}

.navbar-nav li ul.sub-login li a:hover .active {
    color: #01a660;
}

.fa-angle-down {
    padding-left: 5px;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}